<div class="post-preview">
    <a href={% url "post_page" post_slug %}>
        {% if post_id in read_later_list %}
            <h2 class="post-title" style="color: #993300;">{{ post_title }}</h2>
        {% else %}
            <h2 class="post-title">{{ post_title }}</h2>
        {% endif %}
        <h3 class="post-subtitle">{{ post_subtitle }}</h3>
    </a>
    <p class="post-meta">
        Posted by
        <a href={% url "about_page" %}>{{ post_author }}</a>
        on {{ post_date }}
    </p>
</div>
<!-- Divider-->
<hr class="my-4"/>